@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  display: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #c9f31d;
  border-radius: 5rem;
  border-right: 0.2rem;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
}

.dhurjati {
  font-family: "Dhurjati", sans-serif;
}

.lobster {
  font-family: "Lobster", sans-serif;
}
.outfit {
  font-family: "Outfit", sans-serif;
}

html,
body {
  user-select: none;
  overflow-x: hidden;
}
.dark {
  background-color: #161616;
  transition-duration: 300ms;
}
.light {
  background-color: #fffaf1;
  transition-duration: 300ms;
}

.menu::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 100px;
  bottom: 1px;
  position: absolute;
  background-color: #c9f31d;
  transition: all ease 0.7s;
}
.menu:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 10px;
  bottom: 1px;
  left: 1px;
  position: absolute;
}
.menu:not(hover)::before {
  width: 0%;
  right: 1px;
  position: absolute;
}

.rotate-animation {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.clip {
  backdrop-filter: blur(70px);
  /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); */
}

.radius-animation {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: radius 3s ease-in-out infinite;
}
@keyframes radius {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 30% 70% 40%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
.gradient-text {
  background: -webkit-linear-gradient(#ffffff, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-animation {
  background-image: url(../assets/13.jpg);
  -webkit-background-clip: text;
  animation: text-anim 600s linear infinite;
}

@keyframes text-anim {
  100% {
    background-position: 0 5000px;
  }
}

.line {
  animation: line 16s linear infinite;
}

@keyframes line {
  0% {
    left: 0;
  }
  100% {
    left: 1200px;
  }
}

.section-title {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    150deg,
    #e00dfc 40%,
    #832cf5 50%,
    #20ced4 55%
  );
}

.ticker-1 {
  animation: ticker-slider 100s linear infinite;
}

@keyframes ticker-slider {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-4000px);
  }
}

.works-bg {
  background-image: url(../assets/works/works-bg.png);
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center;
}

.service-ticker {
  animation: ticker-slider-2 100s linear infinite;
}

@keyframes ticker-slider-2 {
  0% {
    transform: translateX(-4000px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* ----------------Logo---------------- */
#logo svg path {
  fill: transparent;
  stroke: #c9f31d;
  stroke-width: 5;
  stroke-dasharray: 250;
  stroke-dashoffset: 280;
  animation: textAnimation 3s ease-in-out 0.1s 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 280;
  }
  100% {
    stroke-width: 5;
    stroke-dashoffset: 0;
  }
}
#logo svg path {
  fill: transparent;
  stroke: #c9f31d;
  stroke-width: 5;
  stroke-dasharray: 250;
  stroke-dashoffset: 280;
  animation: textAnimation 3s ease-in-out 0.1s 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 280;
  }
  100% {
    stroke-width: 5;
    stroke-dashoffset: 0;
  }
}
#logo-dark svg path {
  fill: transparent;
  stroke: #972fe3;
  stroke-width: 5;
  stroke-dasharray: 250;
  stroke-dashoffset: 280;
  animation: textAnimation 3s ease-in-out 0.1s 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 280;
  }
  100% {
    stroke-width: 5;
    stroke-dashoffset: 0;
  }
}

.perspective-wrapper {
  perspective: 1000px;
  perspective-origin: center;
}

.perspective-card {
  transform: rotateX(0deg);
  transform-style: preserve-3d;
}

.perspective-wrapper:hover .perspective-card {
  transform: rotateX(-40deg);
}