@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.9rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c9f31d;
  border-radius: 5rem;
  border-right: 0.2rem;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
  /* background-color: #3d0ee47c; */
}

.dhurjati {
  font-family: "Dhurjati", sans-serif;
}

.lobster {
  font-family: "Lobster", sans-serif;
}

html,
body {
  user-select: none;
  overflow-x: hidden;
}
.dark {
  background-color: #161616;
  transition-duration: 300ms;
}
.light {
  background-color: #fffaf1;
  transition-duration: 300ms;
}

.menu::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 100px;
  bottom: 1px;
  position: absolute;
  background-color: #c9f31d;
  transition: all ease 0.7s;
}
.menu:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 10px;
  bottom: 1px;
  position: absolute;
}

.rotate-animation {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.clip {
  backdrop-filter: blur(70px);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.radius-animation {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: radius 3s ease-in-out infinite;
}
@keyframes radius {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 30% 70% 40%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
.gradient-text {
  background: -webkit-linear-gradient(#ffffff, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-animation {
  background-image: url(../assets/13.jpg);
  -webkit-background-clip: text;
  animation: text-anim 300s linear infinite;
}

@keyframes text-anim {
  100% {
    background-position: 0 5000px;
  }
}

.line {
  animation: line 16s linear infinite;
}

@keyframes line {
  0% {
    left: 0;
  }
  100% {
    left: 1200px;
  }
}

.clip-container {
  clip-path: circle(8% at 92% 12%);
}
.clip-section:hover .clip-container {
  clip-path: circle(100%);
}

.section-title {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    150deg,
    #e00dfc 40%,
    #832cf5 50%,
    #20ced4 55%
  );
}
